/* // ***** ------------------------ **** ------------------------ ***** // */  
/**
  * STYLES
  *
  * For Gamepage
  *
  * - body, html
  * - display-counter
  * - div-container
  * - flex-container
  * - square-details
  *
  */
/* // ***** ------------------------ **** ------------------------ ***** // */

body, html {
    min-width: 510px;
}

#display-counter {
    position: relative;
}

#div-container {
    text-align: center;
    width: 100%;
}

.flex-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 151px;
    justify-content: space-around;
    margin: 10px auto 0 auto;
    max-width: 510px;
}

.square-details {
    background: beige;
    height: 150px;
    margin-bottom: 20px;
    text-align: center;
    width: 150px;
}

/* // ***** ------------------------ **** ------------------------ ***** // */
