/* // ***** ------------------------ **** ------------------------ ***** // */  
/**
  * STYLES
  *
  * For Gamepage
  *
  * - body, html
  * - canvas-container
  * - character-count
  * - display-counter
  * - display-win
  * - div-container-row-one
  * - div-container-row-two
  * - div-container-row-three
  * - div-container-row-four
  * - div-container-name  
  * - div-container-template
  * - draw
  * - draw-score
  * - flex-container
  * - forfeit-game
  * - form
  * - form-box
  * - form-input
  * - form-label
  * - matt-fung
  * - player-one
  * - player-one-score
  * - player-two
  * - player-two-score
  * - popup-background
  * - reset-game
  * - save
  * - start-game
  * - text-help
  *
  */
/* // ***** ------------------------ **** ------------------------ ***** // */

body, html {
    background: black;
    min-width: 510px;
}

#canvas-container {
    text-align: center;
    width: 100%;
}

.character-count .form--has-character-limit {
    margin: 0;
    padding: 10px 11px;
    pointer-events: none;
    position: absolute;
    right: 1px;
}

#display-counter {
    position: relative;
}

#display-win {
    background: black;
    border: 2px solid grey;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height: 25px;
    margin: 0;
    position: relative;
    text-align: center;
    width: 510px;
}

#div-container-row-one {
    text-align: center;
    width: 100%;
}

#div-container-row-two {
    background: #2c4266;
    border: 2px solid grey;
    color: brown;
    justify-content: space-around;
    margin: -2px auto -4px auto;
}

#div-container-row-three {
    background: black;
    border: 2px solid grey;
    color: brown;
    justify-content: space-around;
    margin: 1px auto -2px auto;
}

#div-container-row-four {
    justify-content: space-between;
    margin: 0 auto 10px auto;
}

#div-developer-name {
    text-align: right;
    width: 100%;
}

.div-container-template {
    align-items: center;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    flex-wrap: wrap;
    height: 25px;
    max-width: 510px;
}

#draw {
    display: inline-block;
    flex: 1;
    order: 2;
    text-align: center;
}

#draw-score {
    display: inline-block;
    flex: 1;
    order: 2;
    text-align: center;
}

.flex-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 151px;
    justify-content: space-around;
    margin: 10px auto 0 auto;
    max-width: 510px;
}

#forfeit-game {
    background: #2c4266;
    cursor: pointer;
    color: brown;
    display: inline-block;
    flex: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    order: 2;
    outline: 0;
    text-align: center;
}

.form {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
}

.form-box {
    background: black;
    border: 1px solid #bbb;
    display: inline-block;
    margin-left: 36.5%;
    min-width: 25%;
    padding: 20px 20px 25px;
    position: relative;
    text-align: left;
    top: 13%;
    width: 25%;
}

.form-input {
    border: 1px solid #bbb;
    border-radius: 3px;
    color: brown;
    display: inline-block;
    font: inherit;
    font-weight: 400;
    margin: 0;
    outline: none;
    padding: 7px 10px;
    min-width: 94%;
}

.form-input .form-has-character-limit {
    padding-right: 40px;
}

.form-input {
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-size: 14px 14px;
}

.form-label {
    color: brown;
    font-weight: 600;
    margin-bottom: 0.4em;
    min-width: 94%;
}

.form-label:after {
    color: brown;
    font-size: 0.85rem;
    font-style: italic;
    font-weight: 400;
    padding-left: 5px;
}

#matt-fung {
    color: brown;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 8px; 
}

#player-one {
    display: inline-block;
    flex: 1;
    order: 1;
    text-align: center;
}

#player-one-score {
    display: inline-block;
    flex: 1;
    order: 1;
    text-align: center;
}

#player-two {
    display: inline-block;
    flex: 1;
    order: 3;
    text-align: center;
}

#player-two-score {
    display: inline-block;
    flex: 1;
    order: 3;
    text-align: center;
}

.popup-background {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#reset-game {
    background: #2c4266;
    cursor: pointer;
    color: brown;
    display: inline-block;
    flex: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin-left: 5px;
    order: 3;
    outline: 0;
    text-align: center;
}

.save {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto 0 auto;
    max-width: 510px;
}

#save {
    background: #2c4266;
    color: brown;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    outline: 0;
    text-align: center;
}

#start-game {
    background: #2c4266;
    color: brown;
    cursor: pointer;
    display: inline-block;
    flex: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin-right: 5px;
    order: 1;
    outline: 0;
    text-align: center;
}

.text-help {
    color: brown;;
    font-size: 0.85rem;
    font-style: italic;
    margin-top: 6px;
    text-align: right;
}

/* // ***** ------------------------ **** ------------------------ ***** // */
